body{
    background: #110d0d; border: led 50px #110d0d; 
}
p {
    text-align: justify; 
}
p {
    color: #fafafa;
}
h2 {
    text-align: justify;
}
h2 {
    color: #fafafa;
}
h1 {
    text-align: center;
}
p {
    background: #4d0101; border: solid 3px;
}
img {
    border: solid 5px; color: #4d0101;
}
